# _**Data Visualization**_
# _**Basic Plots Using Plotly**_

Author: Anwar Mehmood Sohail\
Date: 02 November, 2023\
Email: anwarmehmood.sohail@gmail.com

#dataviz #datavisualization #codanics

---

In [47]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import plotly.offline as pyo
import plotly.express as px

# 1. Scatter Plot

In [48]:
# import data from plotly 
iris = px.data.iris()
iris.sample(10)

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
63,6.1,2.9,4.7,1.4,versicolor,2
2,4.7,3.2,1.3,0.2,setosa,1
138,6.0,3.0,4.8,1.8,virginica,3
10,5.4,3.7,1.5,0.2,setosa,1
84,5.4,3.0,4.5,1.5,versicolor,2
24,4.8,3.4,1.9,0.2,setosa,1
81,5.5,2.4,3.7,1.0,versicolor,2
15,5.7,4.4,1.5,0.4,setosa,1
9,4.9,3.1,1.5,0.1,setosa,1
98,5.1,2.5,3.0,1.1,versicolor,2

In [49]:
# plot simple scatter plot
trace = go.Scatter(x= iris['sepal_length'], y=iris['sepal_width'],
                   mode= 'markers')

data = [trace]

layout = go.Layout( title= 'Scatter Plot',
                   xaxis= {'title': 'Sepal Length'},
                   yaxis= {'title': 'Sepal Width'})

fig = go.Figure(data= data, layout=layout)
pyo.plot(fig, filename='./output/fig_01.html')
#print(fig)

'./output/fig_01.html'

In [50]:
# add text to the markers/points
trace = go.Scatter(x= iris['sepal_length'], y=iris['sepal_width'],
                   mode= 'markers', text = iris['species'])

data = [trace]

layout = go.Layout( title= 'Scatter Plot',
                   xaxis= {'title': 'Sepal Length'},
                   yaxis= {'title': 'Sepal Width'})

fig = go.Figure(data= data, layout=layout)
pyo.plot(fig, filename='./output/fig_02.html')

'./output/fig_02.html'

In [51]:
# change color and size of the markers/points
trace = go.Scatter(x= iris['sepal_length'], y=iris['sepal_width'],
                   mode= 'markers', text = iris['species'],
                   marker = {'color': 'red', 'size': 16} )

data = [trace]

layout = go.Layout( title= 'Scatter Plot',
                   xaxis= {'title': 'Sepal Length'},
                   yaxis= {'title': 'Sepal Width'})

fig = go.Figure(data= data, layout=layout)
pyo.plot(fig, filename='./output/fig_03.html')

'./output/fig_03.html'

# 2. Line Plot:

In [52]:
# import time series data
gap = px.data.gapminder()
gap.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [53]:
# select only Pakistan
pakistan = gap[gap['country']=='Pakistan']
india = gap[gap['country']=='India']

In [54]:
# simple line plot
trace = go.Scatter(x= pakistan['year'], y=pakistan['lifeExp'],
                   mode = 'lines+markers')

data = [trace]

layout = go.Layout( title='Line Plot',
                   xaxis = {'title': 'Years'},
                   yaxis = {'title': 'Life Expectancy '}
                   )

fig = go.Figure(data= data, layout=layout )

pyo.plot(fig, filename='./output/fig_04.html')

'./output/fig_04.html'

In [55]:
# simple line plot for two countries
trace1 = go.Scatter(x= pakistan['year'], y=pakistan['lifeExp'],
                   mode = 'lines+markers', name='Pakistan')

trace2 = go.Scatter(x= india['year'], y=india['lifeExp'],
                   mode = 'lines', name='India')


data = [trace1, trace2]

layout = go.Layout( title='Line Plot',
                   xaxis = {'title': 'Years'},
                   yaxis = {'title': 'Life Expectancy '}
                   )

fig = go.Figure(data= data, layout=layout )

pyo.plot(fig, filename='./output/fig_05.html')

'./output/fig_05.html'

# 3. Bar Plot:

In [58]:
# to plot bar plot we need one categorical variable and other is numerical
iris_temp = iris['species'].value_counts().reset_index()
iris_temp

      species  count
0      setosa     50
1  versicolor     50
2   virginica     50