# _**Data Visualization**_
# _**Basic Plots Using Plotly**_

Author: Anwar Mehmood Sohail\
Date: 02 November, 2023\
Email: anwarmehmood.sohail@gmail.com

#dataviz #datavisualization #codanics

---

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import plotly.offline as pyo
import plotly.express as px

# 1. Scatter Plot

In [2]:
# import data from plotly 
iris = px.data.iris()
iris.sample(10)

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
144,6.7,3.3,5.7,2.5,virginica,3
129,7.2,3.0,5.8,1.6,virginica,3
35,5.0,3.2,1.2,0.2,setosa,1
103,6.3,2.9,5.6,1.8,virginica,3
15,5.7,4.4,1.5,0.4,setosa,1
40,5.0,3.5,1.3,0.3,setosa,1
73,6.1,2.8,4.7,1.2,versicolor,2
61,5.9,3.0,4.2,1.5,versicolor,2
77,6.7,3.0,5.0,1.7,versicolor,2
89,5.5,2.5,4.0,1.3,versicolor,2

In [3]:
# plot simple scatter plot
trace = go.Scatter(x= iris['sepal_length'], y=iris['sepal_width'],
                   mode= 'markers')

data = [trace]

layout = go.Layout( title= 'Scatter Plot',
                   xaxis= {'title': 'Sepal Length'},
                   yaxis= {'title': 'Sepal Width'})

fig = go.Figure(data= data, layout=layout)
pyo.plot(fig, filename='./output/fig_01.html')
#print(fig)

'./output/fig_01.html'

In [4]:
# add text to the markers/points
trace = go.Scatter(x= iris['sepal_length'], y=iris['sepal_width'],
                   mode= 'markers', text = iris['species'])

data = [trace]

layout = go.Layout( title= 'Scatter Plot',
                   xaxis= {'title': 'Sepal Length'},
                   yaxis= {'title': 'Sepal Width'})

fig = go.Figure(data= data, layout=layout)
pyo.plot(fig, filename='./output/fig_02.html')

'./output/fig_02.html'

In [5]:
# change color and size of the markers/points
trace = go.Scatter(x= iris['sepal_length'], y=iris['sepal_width'],
                   mode= 'markers', text = iris['species'],
                   marker = {'color': 'red', 'size': 16} )

data = [trace]

layout = go.Layout( title= 'Scatter Plot',
                   xaxis= {'title': 'Sepal Length'},
                   yaxis= {'title': 'Sepal Width'})

fig = go.Figure(data= data, layout=layout)
pyo.plot(fig, filename='./output/fig_03.html')

'./output/fig_03.html'

# 2. Line Plot:

In [6]:
# import time series data
gap = px.data.gapminder()
gap.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [7]:
# select only Pakistan
pakistan = gap[gap['country']=='Pakistan']
india = gap[gap['country']=='India']

In [8]:
# simple line plot
trace = go.Scatter(x= pakistan['year'], y=pakistan['lifeExp'],
                   mode = 'lines+markers')

data = [trace]

layout = go.Layout( title='Line Plot',
                   xaxis = {'title': 'Years'},
                   yaxis = {'title': 'Life Expectancy '}
                   )

fig = go.Figure(data= data, layout=layout )

pyo.plot(fig, filename='./output/fig_04.html')

'./output/fig_04.html'

In [9]:
# simple line plot for two countries
trace1 = go.Scatter(x= pakistan['year'], y=pakistan['lifeExp'],
                   mode = 'lines+markers', name='Pakistan')

trace2 = go.Scatter(x= india['year'], y=india['lifeExp'],
                   mode = 'lines', name='India')


data = [trace1, trace2]

layout = go.Layout( title='Line Plot',
                   xaxis = {'title': 'Years'},
                   yaxis = {'title': 'Life Expectancy '}
                   )

fig = go.Figure(data= data, layout=layout )

pyo.plot(fig, filename='./output/fig_05.html')

'./output/fig_05.html'

# 3. Bar Plot:

In [10]:
# to plot bar plot we need one categorical variable and other is numerical
iris_temp = iris['species'].value_counts().reset_index()
iris_temp

      species  count
0      setosa     50
1  versicolor     50
2   virginica     50

In [11]:
data = go.Bar(x= iris_temp['species'], y= iris_temp['count'])

data = data

layout = go.Layout(title= 'Bar Plot',
                   xaxis= {'title': 'Species'},
                   yaxis= {'title': 'Count'})

fig = go.Figure(data= data, layout= layout)

pyo.plot(fig, filename='./output/fig07.html')

'./output/fig07.html'

# 3. Bubble Plot:

In [12]:
tips  = px.data.tips()
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
# for bubble plot we will add numerical variable in size
data = go.Scatter(x = tips['total_bill'], y = tips['tip'],
                  mode='markers',
                  marker ={'size': tips['total_bill']} )   # add  marker ={'size': tips['total_bill']}, for bubble plot
data = data

layout = go.Layout(title= 'Bubble Plot',
                   xaxis= {'title': 'Species'},
                   yaxis= {'title': 'Count'})

fig = go.Figure(data= data, layout= layout)

pyo.plot(fig, filename='./output/fig08.html')

'./output/fig08.html'

# 4. Box Plot:

In [14]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [15]:
# for bubble plot we need on numerical column
data = go.Box(x = iris['sepal_length'] )  
data = data

layout = go.Layout(title= 'Box Plot',
                   xaxis= {'title': 'Species'},
                   yaxis= {'title': 'Count'})

fig = go.Figure(data= data, layout= layout)

pyo.plot(fig, filename='./output/fig09.html')

'./output/fig09.html'

In [16]:
# for two box plot, we will create two trace
trace1 = go.Box(x = iris['sepal_length'], name='Sepal Length' )  
trace2 = go.Box(x = iris['petal_length'], name='Petal Length' )  

data = [trace1, trace2]

layout = go.Layout(title= 'Box Plot',
                   xaxis= {'title': 'Species'},
                   yaxis= {'title': 'Count'})

fig = go.Figure(data= data, layout= layout)

pyo.plot(fig, filename='./output/fig10.html')

'./output/fig10.html'

# 5. Histogram Plot:

In [17]:
# for two histogram we need on numerical column
trace = go.Histogram(x = iris['sepal_length'])  


data = [trace]

layout = go.Layout(title= 'Histogram Plot',
                   xaxis= {'title': 'Sepal Lenght'}
                   )

fig = go.Figure(data= data, layout= layout)

pyo.plot(fig, filename='./output/fig11.html')

'./output/fig11.html'

In [18]:
# for two histogram, we will create two trace
trace1 = go.Histogram(x = iris['sepal_length'], name='Sepal Length')  
trace2 = go.Histogram(x = iris['petal_length'], name='Petal Length')  

data = [trace1, trace2]

layout = go.Layout(title= 'Histogram')

fig = go.Figure(data= data, layout= layout)

pyo.plot(fig, filename='./output/fig12.html')

'./output/fig12.html'